# Created by .ignore support plugin (hsz.mobi)
.idea

*/**/*.iml

*/**/target

vue-mobile-login/vue.config.js

vue-mobile-login/build/**
vue-mobile-login/node_modules/**
vue-mobile-login/vue.config.js
