<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wya.web.mapper.CalcAdvMapper" >
	<resultMap type="com.wya.web.model.CalcAdv" id="BaseResultMap" >
	<result column="id" property="id" jdbcType="BIGINT" />
	<result column="shop_id" property="shopId" jdbcType="BIGINT" />
	<result column="user_id" property="userId" jdbcType="BIGINT" />
	<result column="user_name" property="userName" jdbcType="VARCHAR" />
	<result column="calculation_id" property="calculationId" jdbcType="BIGINT" />
	<result column="type" property="type" jdbcType="VARCHAR" />
	<result column="nums" property="nums" jdbcType="VARCHAR" />
	<result column="content" property="content" jdbcType="VARCHAR" />
	<result column="calculations" property="calculations" jdbcType="VARCHAR" />
	<result column="submit_text" property="submitText" jdbcType="VARCHAR" />
	<result column="is_true" property="isTrue" jdbcType="VARCHAR" />
	<result column="state" property="state" jdbcType="VARCHAR" />
	<result column="remark" property="remark" jdbcType="VARCHAR" />
	<result column="short_date" property="shortDate" jdbcType="VARCHAR" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	<result column="create_user" property="createUser" jdbcType="VARCHAR" />
	<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
	<result column="version" property="version" jdbcType="INTEGER" />
	<result column="is_enable" property="isEnable" jdbcType="BIT" />
	
</resultMap>

	<sql id="Base_Column_List">
        `id`, `shop_id`, `user_id`, `user_name`,
        `calculation_id`, `type`, `content`, `nums`, `calculations`,
     	`submit_text`, `is_true`,
        `state`, `remark`, `short_date`, `create_time`, `create_user`, `update_time`, `update_user`,
        `version`, `is_enable`
    </sql>

	<select id="getList" resultMap="BaseResultMap" parameterType="com.wya.web.model.CalcAdv">
		select
		<include refid="Base_Column_List"/>
		from tc_calc_adv t
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null">
				AND t.id = #{id}
			</if>
			<!--            <if test="shopId != null">-->
			<!--                AND t.shop_id = #{shopId}-->
			<!--            </if>-->
			AND t.`is_enable` = 1
		</trim>
		ORDER BY t.`id` DESC
	</select>

	<select id="get" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM tc_calc_adv t
		WHERE t.`id` = #{id}
	</select>

	<insert id="insert" parameterType="com.wya.web.model.CalcAdv" useGeneratedKeys="true" keyProperty="id">
		insert into tc_calc_adv (<include refid="Base_Column_List"/>)
		VALUES
		(
		#{id},
		#{shopId},
		#{userId},
		#{userName},
		#{calculationId},
		#{type},
		#{content},
		#{nums},
		#{calculations},
		#{submitText},
		#{isTrue},
		#{state},
		#{remark},
		#{shortDate},
		#{createTime},
		#{createUser},
		#{updateTime},
		#{updateUser},
		#{version},
		#{isEnable}
		)
	</insert>

</mapper>