<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.calc.web.mapper.UserMapper">
    <resultMap type="com.calc.web.model.User" id="BaseResultMap">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="shop_id" property="shopId" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone_no" property="phoneNo" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="is_verified" property="isVerified" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="short_date" property="shortDate" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_enable" property="isEnable" jdbcType="BIT"/>

    </resultMap>

    <sql id="Base_Column_List">
        `id`, `shop_id`, `role_id`, `name`, `phone_no`, `password`, `avatar`, `sex`, `birthday`, `is_verified`, `state`, `remark`, `short_date`, `create_time`, `create_user`, `update_time`, `update_user`, `version`, `is_enable`
    </sql>

    <select id="getList" resultMap="BaseResultMap" parameterType="com.calc.web.model.User">
        select
        <include refid="Base_Column_List"/>
        from tu_user t
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="id != null">
                AND t.id = #{id}
            </if>
            <!--            <if test="shopId != null">-->
            <!--                AND t.shop_id = #{shopId}-->
            <!--            </if>-->
            <if test="roleId != null and roleId != ''">
                AND t.role_id = #{roleId}
            </if>
            <if test="name != null and name != ''">
                AND t.name = #{name}
            </if>
            <if test="phoneNo != null and phoneNo != ''">
                AND t.phone_no = #{phoneNo}
            </if>
            <if test="password != null and password != ''">
                AND t.password = #{password}
            </if>
            AND t.`is_enable` = 1
        </trim>
        ORDER BY t.`id` DESC
    </select>

    <select id="get" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tu_user t
        WHERE t.`id` = #{id}
    </select>

    <insert id="insert" parameterType="com.calc.web.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into tu_user (<include refid="Base_Column_List"/>)
        VALUES
        (
        #{id},
        #{shopId},
        #{roleId},
        #{name},
        #{phoneNo},
        #{password},
        #{avatar},
        #{sex},
        #{birthday},
        #{isVerified},
        #{state},
        #{remark},
        #{shortDate},
        #{createTime},
        #{createUser},
        #{updateTime},
        #{updateUser},
        #{version},
        #{isEnable}
        )
    </insert>

    <update id="update" parameterType="com.calc.web.model.User">
        UPDATE tu_user
        SET
            phone_no = #{phoneNo},
            password = #{password},
            update_time = #{updateTime},
            update_user = #{updateUser},
            version = #{version},
            is_enable = #{isEnable}
        WHERE id = #{id}
    </update>

</mapper>