<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wya.web.mapper.UserMapper">
    <resultMap type="com.wya.web.model.User" id="BaseResultMap" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="shop_id" property="shopId" jdbcType="BIGINT" />
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="phone_no" property="phoneNo" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="VARCHAR" />
        <result column="lv_calculation" property="lvCalculation" jdbcType="VARCHAR" />
        <result column="is_verified" property="isVerified" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="short_date" property="shortDate" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="is_enable" property="isEnable" jdbcType="BIT"/>

    </resultMap>

    <sql id="Base_Column_List">
        `id`, `shop_id`, `role_id`, `name`, `phone_no`, `password`, `avatar`, `sex`, `birthday`, `lv_calculation`, `is_verified`,
        `state`, `remark`, `short_date`, `create_time`, `create_user`, `update_time`, `update_user`,
        `version`, `is_enable`
    </sql>

    <select id="getList" resultMap="BaseResultMap" parameterType="com.wya.web.model.User">
        select
        <include refid="Base_Column_List"/>
        from tu_user t
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="id != null">
                AND t.id = #{id}
            </if>
<!--            <if test="shopId != null">-->
<!--                AND t.shop_id = #{shopId}-->
<!--            </if>-->
            <if test="roleId != null and roleId != ''">
                AND t.role_id = #{roleId}
            </if>
            <if test="name != null and name != ''">
                AND t.name = #{name}
            </if>
            <if test="phoneNo != null and phoneNo != ''">
                AND t.phone_no = #{phoneNo}
            </if>
            <if test="password != null and password != ''">
                AND t.password = #{password}
            </if>
            AND t.`is_enable` = 1
        </trim>
        ORDER BY t.`id` DESC
    </select>

    <select id="get" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tu_user t
        WHERE t.`id` = #{id}
    </select>

    <insert id="insert" parameterType="com.wya.web.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into tu_user (<include refid="Base_Column_List"/>)
        VALUES
        (
        #{id},
        #{shopId},
        #{roleId},
        #{name},
        #{phoneNo},
        #{password},
        #{avatar},
        #{sex},
        #{birthday},
        #{lvCalculation},
        #{isVerified},
        #{state},
        #{remark},
        #{shortDate},
        #{createTime},
        #{createUser},
        #{updateTime},
        #{updateUser},
        #{version},
        #{isEnable}
        )
    </insert>

    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into tu_user (<include refid="Base_Column_List"/>)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.shopId},
            #{item.roleId},
            #{item.name},
            #{item.phoneNo},
            #{item.password},
            #{item.avatar},
            #{item.sex},
            #{item.birthday},
            #{item.lvCalculation},
            #{item.isVerified},
            #{item.state},
            #{item.remark},
            #{item.shortDate},
            #{item.createTime},
            #{item.createUser},
            #{item.updateTime},
            #{item.updateUser},
            #{item.version},
            #{item.isEnable}
            )
        </foreach>
    </insert>

    <update id="modifyPassword" parameterType="com.wya.web.model.User" >
        UPDATE tu_user
        SET
            password = #{password},
            update_time = NOW()
        WHERE id = #{id}
    </update>

</mapper>